<!DOCTYPE html>
<html>
<head>
    <title>用户注册</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/modernizer.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/static/css/groundwork.css">
</head>
<body>
    <header class="padded">
        <div class="container">
            <div class="row">
                <div class="one half">
                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/img/logo.png" style="height: 50px; width: 120px; border: NONE"/>新用户注册
			    </div>
                <div class="one half">
                    <p class="small no-pad-small-tablet align-right align-left-small-tablet"><br><br>已经注册!现在就<a id="logout" style="color: #ff0000;text-decoration: NONE">登录</a></p>
                </div>
            </div>
        </div>
    </header>
</body>
</html>