<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>登陆</title>
</head>

<body background="/static/E.jpg">
<div class="jumbotron" style="background-color:rgba(0,0,0,0.1)">
  <h1 style="margin:0px 0px 0px 20px">SYSU-canteen|Login</h1>
  <p style="margin:10px 0px 0px 22px">Please enter your user-name and password</p>
</div>

<div class="panel panel-default" style="margin: 20px 1050px 20px 0px ; border:1 ; background-color:rgba(0,0,0,0.1)">
<form class="form-inline" method = 'post' enctype="multipart/form-data" style="margin:0px 20px 20px 20px">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<br></br> 
    {% csrf_token %}
    {{uf.as_p}}
<input type="submit" class="btn btn-primary" value = "Login" ></input>
&nbsp;&nbsp;<button class="btn btn-default">
<a href="http://127.0.0.1:8000/temp">register</a>
</button>
</form>
</div>
</body>   
</html>

