 {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <link href="{%static 'css_main/style.css'%}"  rel="stylesheet" >
  <link href="{%static 'css_main/bootstrap.css'%}"  rel="stylesheet" >
  <!--web-font-->
  <link href='http://fonts.useso.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
  <!--//web-font-->
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Taisteal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="http://ajax.useso.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- //Custom Theme files -->
  <!-- js -->
  <script src="{%static 'js_main/jquery.min.js'%}"></script>
  <script src="{%static 'js_main/modernizr.custom.js'%}"></script>
  <!-- //js --> 
  <!-- start-smoth-scrolling-->
  <script type="text/javascript" src="{%static 'js_main/move-top.js'%}"></script>
  <script type="text/javascript" src="{%static 'js_main/easing.js'%}"></script> 
  <script type="text/javascript" src="{%static 'js_main/modernizr.custom.53451.js'%}"></script>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){   
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
  </script>
  <!--//end-smoth-scrolling-->
</head>




<body>
	<!--banner-->
	<div class="banner">
		<!--header-->
	<div class="header">
		<div class="container">
			<div class="header-logo">
				<a href="index.html"><img src="{%static 'images/logo.png'%}" alt="logo"/></a>
			</div>
			<div class="top-nav">
				<span class="menu"> </span>
				<ul class="nav1">
					<li><a href="./" ><font face="黑体">首页</font></a></li>
					<li><a href="#about" class="scroll"><font face="黑体">路线</font></a></li>
					<li><a href="#portfolio" class="scroll"><font face="黑体">问答</font></a></li>
					<li><a href="./profile" ><font face="黑体">个人信息</font></a></li>
					<li><a href="./signin" ><font face="黑体">登陆</font></a></li>
					<li><a href="#contact" class="scroll"><font face="黑体">联系我们</font></a></li>
				</ul>
				<!-- script-for-menu -->
				 <script>
				   $( "span.menu" ).click(function() {
					 $( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
				<!-- /script-for-menu -->
			</div>
			<div class="clearfix"> </div>
		</div>	
	</div>
	<!--//header-->
		<div class="container">
			<div class="banner-title"> 
				<h1><font face="黑体"><span>welcome to 晓</span></font></h1>
				<h1><span>TRAVELERS </span> AND <span> LEAVES</span></h1>
				<div class="download">
					<a href="./getinfo">SHOW ON THE MAP</a>
				</div>
			</div>
		</div>
	</div>
	<!--//banner-->
	<div class="about" id="about">
		<div class="container">
			<h3><font face="黑体">精品路线介绍</font></h3>
			<span></span>
			<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim </p>
			<p><font face="黑体">希腊，是一个穷尽世界上最美好色彩的国度，先以一组照片来领略一下我眼中的希腊之美...</font></p>
		</div>
	</div>
	<div class="about-bottom">
			<div class="col-md-6 about-bottom-left">
				<h4><font face="黑体">希腊——爱琴海的独行</font></h4>
				<p class="top">Consectetuer adipiscing elit, sed diam nonummy nibh 
					euismod tincidunt ut laoreet dolore magna aliquam erat </p>
				<p><font face="黑体">希腊这个名字，给我最深印象的是在儿时看过的动画片《圣斗士》里。那时希腊圣域是我心中这个世界上最高大上的存在，女神雅典娜和她的圣斗士们在那里维系着世界的和平。后来我也得知希腊是人类古代自然科学和社会科学的中心，苏格拉底、柏拉图、亚里士多德等是人类最早的精神导师之一，这里也诞生了无数的神话传说，千百年来深刻的影响了人类精神世界。</font></p>	
				<div class="read-more">
					<a href="./more">READ MORE<span></span></a>
				</div>
			</div>
			<div class="col-md-6 about-bottom-right">
				<img src="{%static 'images/img1.jpg'%}" alt="">
			</div>
			<div class="clearfix"> </div>
	</div>	
	
	<!--skills-->
	

	<!--//skills-->
	<!--project-->
	<div class="projects about" id="portfolio">
		<div class="container">
			<h3> <font face="黑体">旅行问答</font></h3>
			<span></span>
			<p> </p>
		</div>
	</div>
	<div class="project-gallery">
	<font face="Microsoft YaHei" >
		<div class="gallery-grids">
			<div class="gallery-grids-info">
				<img src="{%static 'images/img3.jpg'%}" alt=""/>
				<div class="caption">
					<h4>PAPERCLIPS</h4>
					<span></span>
					<p>BRANDING</p>
				</div>
			</div>
			<div class="gallery-grids-info">
				<img src="{%static 'images/img4.jpg'%}" alt=""/>
				<div class="caption">
					<h4>PAPERCLIPS</h4>
					<span></span>
					<p>BRANDING</p>
				</div>
			</div>
			<div class="gallery-grids-info">
				<img src="{%static 'images/img5.jpg'%}" alt=""/>
				<div class="caption">
					<h4>PAPERCLIPS</h4>
					<span></span>
					<p>BRANDING</p>
				</div>
			</div>
			<div class="gallery-grids-info">
				<img src="{%static 'images/img6.jpg'%}" alt=""/>
				<div class="caption">
					<h4>PAPERCLIPS</h4>
					<span></span>
					<p>BRANDING</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="project-portfolio">
			<div class="container">
				<h4><font face="黑体">路况咨询 形成安排 热门景点 </font> </h4>
				
				
			</div>
		</div>	
		<div class="gallery-grids">
			<div class="gallery-grids-info">
				<img src="{%static 'images/a.jpg'%}" alt=""/>
				<div class="caption">
					<h4>菲律宾</h4>
					<span></span>
					<p>梦中的伊甸园</p>
				</div>
			</div>
			<div class="gallery-grids-info">
				<img src="{%static 'images/b.jpg'%}" alt=""/>
				<div class="caption">
					<h4>2015美西行记</h4>
					<span></span>
					<p>十六天三个人两千六百英里一辆车</p>
				</div>
			</div>
			<div class="gallery-grids-info">
				<img src="{%static 'images/c.jpg'%}" alt=""/>
				<div class="caption">
					<h4>三清山</h4>
					<span></span>
					<p>在云端冻成狗，只为等日听花开！</p>
				</div>
			</div>
			<div class="gallery-grids-info">
				<img src="{%static 'images/d.jpg'%}" alt=""/>
				<div class="caption">
					<h4>珠海澳门</h4>
					<span></span>
					<p>#消夏计划#【夜小梦和刁小洲的小幸福】珠海澳门</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="sea-all read-more">
			<a href="./ask">SEE ALL<span></span></a>
		</div>		
		</font>
	</div>
	<!--//project-->
	<!--team-->
	
	<!--//team-->
	<!--clients-->
	
	<!--blog-->
	
	<!--//blog-->
	<!--contact-->
	<div class="contact">
		<div class="container" id="contact">
			<h3>CONTACT</h3>
			<form>
				<input type="text" value="Name*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name*';}" required="">
				<input type="email" value="Email*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email*';}" required="">
				<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
				<input type="submit" value="Submit" >
			</form>
		</div>
	</div>
	<!--//contact-->
	<!--footer-->
	
	<!--//footer-->
	
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({ easingType: 'easeOutQuart' });	
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->	
</body>
</html>	
	