{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static 'dist/css/vendor/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static 'dist/css/flat-ui.css' %} " rel="stylesheet">
    <link href="{% static 'docs/assets/css/demo.css' %} " rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %} ">

    <title>Signin</title>
    <link href="{% static 'css/style.css' %} " rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="App Sign in Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../../dist/js/vendor/html5shiv.js"></script>
      <script src="../../dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <style>
      body {
        padding-bottom: 200px;
      }
    </style>
    
      <div class="container">

      <h2><font face="黑体">{{msg}}</font></h2>

      <h6>Take a trip! </h6>

      <nav class="navbar navbar-inverse navbar-lg" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#"><font face="黑体">首页</font></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#"><font face="黑体">热门推荐</font><span class="navbar-unread">1</span></a></li>
            <li class="active"><a href="#"><font face="黑体">经典线路</font></a></li>
            <li><a href="#"><font face="黑体">导游专栏</font></a></li>
           </ul>
          <form class="navbar-form navbar-left" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font face="黑体">目的地选择</font><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><font face="黑体">国内</font></a></li>
                <li><a href="#"><font face="黑体">欧洲</font></a></li>
                <li><a href="#"><font face="黑体">美国</font></a></li>
                <li class="divider"></li>
                <li><a href="#"><font face="黑体">亚洲</font></a></li>
              </ul>
            </li>
            <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

   
<h6><font face="黑体">热门线路：</font></h6>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static 'img/1.jpg' %}" alt="...">
            <div class="caption">
              <h5><font face="黑体">川西风光</font></h5>
              <p><font style="font-size:15px;"face="黑体">来到蒲西乡，主人说去赏花节，我们很好奇，来到河对岸，只发现一群穿着藏服的男女老少聚在一起，帐篷里摆满了吃的喝的，原来她们是在这耍，玩着各种小游戏，其乐融融，而且对 我们这对外来客人也很热情...</font></p>
              <p><a role="button" class="btn btn-primary" href="#"><font face="黑体">阅读</font></a> <a role="button" class="btn btn-info" href="#111111"><font face="黑体">收藏</font></a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static 'img/2.jpg' %}" alt="...">
            <div class="caption">
              <h5><font face="黑体">成都锦里</font></h5>
              <p ><font style="font-size:15px;"face="黑体">成都-正值盛夏也无过分闷热，仿佛南方的秋季，所以在这种舒适的气候里人的神色也不那么匆匆，成都以一种慢节奏告诉来客，生活需要工作，但工作完就该专注生活，所以这是属于成都人的城市，也是成都人的家...</font></p>
              <p><a role="button" class="btn btn-primary" href="#"><font face="黑体">阅读</font></a> <a role="button" class="btn btn-info" href="#111111"><font face="黑体">收藏</font></a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static 'img/5.jpg' %}" alt="...">
            <div class="caption">
              <h5><font face="黑体">爱情海雪山</font></h5>
              <p><font style="font-size:15px;"face="黑体">从海子山下来没能在天黑前赶到巴塘，于是在路边问了一位喇嘛哪里能住宿，喇嘛说没有，要么就住他们家，他们不收钱。听说前面隧道晚上不安全，所以选择留宿藏民家，这是一路上住的最有趣的一晚...</font></p>
              <p><a role="button" class="btn btn-primary" href="#"><font face="黑体">阅读</font></a> <a role="button" class="btn btn-info" href="#111111"><font face="黑体">收藏</font></a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static 'img/3.jpg' %}" alt="...">
            <div class="caption">
              <h5><font face="黑体">布达拉宫</font></h5>
              <p><font style="font-size:15px;"face="黑体">从海子山下来没能在天黑前赶到巴塘，于是在路边问了一位喇嘛哪里能住宿，喇嘛说没有，要么就住他们家，他们不收钱。听说前面隧道晚上不安全，所以选择留宿藏民家，这是一路上住的最有趣的一晚...</font></p>
              <p><a role="button" class="btn btn-primary" href="#"><font face="黑体">阅读</font></a> <a role="button" class="btn btn-info" href="#111111"><font face="黑体">收藏</font></a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static 'img/4.jpg' %}" alt="...">
            <div class="caption">
              <h5><font face="黑体">藏族习俗</font></h5>
              <p><font style="font-size:15px;"face="黑体">从海子山下来没能在天黑前赶到巴塘，于是在路边问了一位喇嘛哪里能住宿，喇嘛说没有，要么就住他们家，他们不收钱。听说前面隧道晚上不安全，所以选择留宿藏民家，这是一路上住的最有趣的一晚...</font></p>
              <p><a role="button" class="btn btn-primary" href="#"><font face="黑体">阅读</font></a> <a role="button" class="btn btn-info" href="#111111"><font face="黑体">收藏</font></a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static 'img/6.jpg' %}" alt="...">
            <div class="caption">
              <h5><font face="黑体">高原景观</font></h5>
              <p><font style="font-size:15px;"face="黑体">从海子山下来没能在天黑前赶到巴塘，于是在路边问了一位喇嘛哪里能住宿，喇嘛说没有，要么就住他们家，他们不收钱。听说前面隧道晚上不安全，所以选择留宿藏民家，这是一路上住的最有趣的一晚...</font></p>
              <p><a role="button" class="btn btn-primary" href="#"><font face="黑体">阅读</font></a> <a role="button" class="btn btn-info" href="#111111"><font face="黑体">收藏</font></a></p>
            </div>
          </div>
        </div>
      </div>
      <h6>Images</h6>

    </div>




<!--sign in-->






    <script src="{% static 'dist/js/vendor/jquery.min.js' %} "></script>
    <script src="{% static 'dist/js/vendor/video.js' %} "></script>
    <script type="text/javascript" src="{% static 'dist/js/flat-ui.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'docs/assets/js/application.js' %} "></script>

</body>
</html>
