{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<link href="{% static 'css/bootstrap.css' %} " rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="{% static 'js_pro/jquery.min.js' %} "></script>
<!-- Custom Theme files -->
 <link href="{% static 'css_pro/dashboard.css' %} " rel="stylesheet">
<link  href="{% static 'css_pro/style.css' %} " rel='stylesheet' type='text/css' />

<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Curriculum Vitae Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<!-- start menu -->
  
</head>
<body>
<font face="黑体">
<!-- header -->
<div class="col-sm-3 col-md-2 sidebar">
		 <div class="sidebar_top">
			 <h1>头像</h1> 
			 <img src="images/avt.png" alt=""/>
		 </div>
		<div class="details">
			 <h3>用户名</h3>
			 <p>1234567</p>  	 
			 <h3>邮箱</h3>
			 <p><a href="mailto@example.com">1234@qq.com</a></p>
			 <address>
			 <h3>地址</h3>
			 <span>Lorem ipsum,</span>
			 <span>Sed dolor sit,</span>
			 <span>Praesent porta.</span>
			 </address>
			 
		</div>
		<div class="clearfix"></div>
</div>
<!---->
<link href="{% static 'css_pro/popuo-box.css' %} " rel="stylesheet" type="text/css" media="all"/>
<script src="{% static 'js_pro/jquery.magnific-popup.js' %} " type="text/javascript"></script>
	<!---//pop-up-box-->			
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 <div class="content">
		 <div class="details_header">
			 <ul>
				 <li><a href="index.html"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>主页</a></li>
				 <li><a href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>编辑</a></li>
				 <li><a href="contact.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>邮箱</a></li>
				 <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>相册</a></li>
				 <div id="small-dialog" class="mfp-hide">
					 <img src="images/g4.jpg" alt=""/>
				 </div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
			 </ul>
		 </div>
		 <div class="company">
			 <h3 class="clr1">发表文章</h3>
			 <div class="company_details">
				 <h4>川西风光 <span>2015 - 8 - 20 发表</span></h4>
				 <h6>用户名</h6>
				 <p class="cmpny1">来到蒲西乡，主人说去赏花节，我们很好奇，来到河对岸，只发现一群穿着藏服的男女老少聚在一起，帐篷里摆满了吃的喝的，原来她们是在这耍，玩着各种小游戏，其乐融融，而且对 我们这对外来客人也很热情...</p>
			 </div>
			 <div class="company_details">
				 <h4>成都锦里 <span>2015 - 8 - 20 发表</span></h4>
				 <h6></h6>
				 <p>成都-正值盛夏也无过分闷热，仿佛南方的秋季，所以在这种舒适的气候里人的神色也不那么匆匆，成都以一种慢节奏告诉来客，生活需要工作，但工作完就该专注生活，所以这是属于成都人的城市，也是成都人的家...</p>
			 </div>
		 </div>
		 <div class="skills">
			 <h3 class="clr2">寻找导游</h3>
			 <div class="skill_info">
			 <p></p>
			 </div>
			 <div class="skill_list">
				 <div class="skill1">
					 <h4>1st. 提交关键词</h4>
					 <ul>					 
						<li>地点：珠海</li>
						<li>时间：8月</li>
						<li>出发地：广州</li>
						<li>人数：2人</li>
						<li>预算：2000</li>
						<li>备注：3日游</li>
					 </ul>
				 </div>
				 <div class="skill2">
					 <h4>2nd. 提交关键词</h4>
					 <ul>					 
						<li>地点：云南</li>
						<li>时间：1月</li>
						<li>出发地：广州</li>
						<li>人数：5人</li>
						<li>预算：2000</li>
						<li>备注：7日游</li>
					 </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="skills">
			 <h3 class="clr2">寻找游客</h3>
			 <div class="skill_info">
			 <p></p>
			 </div>
			 <div class="skill_list">
				 <div class="skill1">
					 <h4>1st. 提交关键词</h4>
					 <ul>					 
						<li>地点：珠海</li>
						<li>时间：8月</li>
						<li>出发地：广州</li>
						<li>人数：2人</li>
						<li>预算：2000</li>
						<li>备注：3日游</li>
					 </ul>
				 </div>
				 <div class="skill2">
					 <h4>2nd. 提交关键词</h4>
					 <ul>					 
						<li>地点：云南</li>
						<li>时间：1月</li>
						<li>出发地：广州</li>
						<li>人数：5人</li>
						<li>预算：2000</li>
						<li>备注：7日游</li>
					 </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="education">
			 <h3 class="clr3">收藏文章</h3>
			 <div class="education_details">
				 <h4>川西风光 <span>2015 - 8 - 20 发表</span></h4>
				 <h6>用户名</h6>
				 <p class="cmpny1">来到蒲西乡，主人说去赏花节，我们很好奇，来到河对岸，只发现一群穿着藏服的男女老少聚在一起，帐篷里摆满了吃的喝的，原来她们是在这耍，玩着各种小游戏，其乐融融，而且对 我们这对外来客人也很热情...</p>
			 </div>
			 <div class="education_details">
				 <h4>成都锦里 <span>2015 - 8 - 20 发表</span></h4>
				 <h6></h6>
				 <p>成都-正值盛夏也无过分闷热，仿佛南方的秋季，所以在这种舒适的气候里人的神色也不那么匆匆，成都以一种慢节奏告诉来客，生活需要工作，但工作完就该专注生活，所以这是属于成都人的城市，也是成都人的家...</p>
			 </div>
		 </div>
		 <div class="copywrite">
			 
		 </div>
	 </div>
</div>
<!---->
</font>
</body>
</html>