<!DOCTYPE html>
<html>
<head>
    <title>晓 - agile team</title>
</head>
<body>
<font style="line-height:100%;" size="5" face="Microsoft YaHei" color="DeepSkyBlue">
<p align="center">旅游爱好者比较感兴趣的问题！</p>

<p> 
<div class="bshare-custom">
	<a title="分享到微信" class="bshare-weixin"></a>
	<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
	<span class="BSHARE_COUNT bshare-share-count">0</span>
	</div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</p>

<font style="line-height:200%;" size="3" face="Microsoft YaHei" color="DeepSkyBlue">
<div style="border:18px solid AliceBlue;padding:3px;width:1000px;height:40px;background:AliceBlue">
<p>
Question：如何穷游西藏？<br>  
by 愤怒的小名<br>
</p>

</div>

<div style="border:18px solid AliceBlue;padding:3px;width:1000px;height:300px;background:AliceBlue">
Answer 整理：<br>
by 小号<br>
<p>
1、拉萨：布达拉宫、大昭寺、小昭寺、普莫雍错、羊八井、日多温泉、罗布林卡、西藏博物馆、八廓街、楚布寺、扎希寺、清真寺等等；<br>
2、日喀则：珠穆朗玛峰、扎什伦布寺、白居寺、江孜县、萨迦寺、万佛寺、中尼友谊桥等等；<br>
3、林芝：雅鲁藏布大峡谷、南伊沟、卡定沟、柏树王、巴松措、鲁朗、墨脱、比日神山、南迦巴瓦等等<br>
</p>

</div>
推荐：<br>
广州一日游如何安排？<br>
珠海有什么景点好玩的？<br>
</p>

</body>
</html>