<!DOCTYPE html>
<html>
<head>
    <title>晓 - agile team</title>
</head>
<body>
<font style="line-height:100%;" size="5" face="Microsoft YaHei" color="DeepSkyBlue">
<p align="center">旅游爱好者比较感兴趣的问题！</p>
<p> 
<div class="bshare-custom">
	<a title="分享到微信" class="bshare-weixin"></a>
	<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
	<span class="BSHARE_COUNT bshare-share-count">0</span>
	</div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</p>

<font style="line-height:200%;" size="3" face="Microsoft YaHei" color="DeepSkyBlue">
<div style="border:18px solid AliceBlue;padding:3px;width:500px;height:40px;background:AliceBlue">
<p>
Question：珠海有什么景点好玩的？：<br>
by 愤怒的小名<br>
</p>
</div>

<div style="border:18px solid AliceBlue;padding:3px;width:500px;height:300px;background:AliceBlue">
Answer 整理：<br>
by 小号<br>
<p>
1、海泉湾（特别是神秘岛），公交车608路；<br>
2、珍珠乐园（不知拆了没，好久都没去了），公交车：3、3A、10、10A、66、68、69路；<br>
3、圆明新园，公交车：1、13、25、30、40、60、62、69、991、992路；<br>
4、石景山公园，公交车：3、3A、605、206、2、4等到海滨公园站；<br>
	……还有不懂再问吧<br> 
</p>

</div>
推荐：<br>
广州一日游如何安排？？<br>
如何穷游西藏？<br>
</p>
</body>
</html>