
<!-- <h1>sign up page </h1> -->
<!-- <form action='./verify' method='post'>
	{% csrf_token %}
	<label>Username:</label>
	<input name="username"/>
	<br/>
	<label>Password:</label>
	<input name='password'/>
	<br/>
	<label>Email:</label>
	<input name='email'/>
	<br/>
	<button>Submit</button>
</form> -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static 'dist/css/vendor/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static 'dist/css/flat-ui.css' %} " rel="stylesheet">
    <link href="{% static 'docs/assets/css/demo.css' %} " rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %} ">

    <title>Signin</title>
    <link href="{% static 'css/style.css' %} " rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="App Sign in Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../../dist/js/vendor/html5shiv.js"></script>
      <script src="../../dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
	<h1>App Sign Up Form</h1>
		<div class="app-cam">
		<form action='./signup' method="post">
				{% csrf_token %}
				<div class="cam"><img src="images/cam.png" class="img-responsive" alt="" /></div>
				<input type="text" name='user' class="text" value="" onfocus="this.value = 'Email/Name';" onblur="if (this.value == '') {this.value = 'Email/Name';}" required="required"/>
				<input type="password" name='password' value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="required"/>
				<div class="submit"><input type="submit" value="Sign up"> </div>
				<div class="clear"></div>
				<div class="buttons">
					<ul>			
						<div class="clear"></div>
					</ul>
				</div>
<!-- 				<div class="new">
					<p href="#">Forgot Password ?</p>
					<p class="sign"> New here ?<a href="./signup"> Sign Up</a></p>
					<div class="clear"></div>
				</div> -->
		</form>
		</div>
	<!--start-copyright-->
   		
	<!--//end-copyright-->
</body>
</html>