<!DOCTYPE html>
<html>
<head>
    <title>晓 - agile team</title>
</head>
<body>
<font style="line-height:100%;" size="5" face="Microsoft YaHei" color="DeepSkyBlue">
<p align="center">您的问题已经提交！</p>

<font style="line-height:200%;" size="3" face="Microsoft YaHei" color="DeepSkyBlue">
<p>
下一步：<br>
查看您的问题<br>
转入提问区<br>
转入回答区<br>
返回主页<br>
     <a href="http://www.baidu.com" style="color:black">广州一日游如何安排</a> <br>
        <a href="http://www.baidu.com" style="color:black">如何穷游西藏？</a> <br>
</p>
<p>
推荐：<br>
珠海有什么景点好玩的？<br>
广州一日游如何安排？<br>
如何穷游西藏？<br>
</p>
</body>
</html>