<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Paix Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/js/jquery.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--start-header-->
	<div class="header" id="home">
		<div class="container">
			<div class="head">
			<div class="logo">
				<a href="index.html"><img src="/static/images/logo3.png" style="height:80px"alt="" /></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="http://127.0.0.1:8000/sina/index"  class="hvr-bounce-to-bottom">首页</a></li>
						<li><a href="http://127.0.0.1:8000/sina/gonglv" class="hvr-bounce-to-bottom">热门攻略</a></li>
						<li><a href="http://127.0.0.1:8000/sina/findguider" class="hvr-bounce-to-bottom">我要找导游</a></li>
						<li><a href="http://127.0.0.1:8000/sina/doguider" class="hvr-bounce-to-bottom">我要当导游</a></li>
						<li><a href="http://127.0.0.1:8000/sina/question" class="active hvr-bounce-to-bottom">我要提问</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!--script-for-menu-->
	
	<br/>
	<div class="why-top heading">
				<h3>热门回答</h3>
	</div>
			
	<div class="why" id="about">
		<div class="container">
			<div class="col-md-6 how-left">
				<img src="/static/images/gulangyu.jpg" alt="" />
			</div>
			<div class="why-bottom">
				<div class="why-top heading">
					<p>“little button”说 :</p> <h3>鼓浪屿啊，我去年刚去         ~\(≧▽≦)/~</h3>
				</div>
				<div class="col-md-6 why-left">
					
					<p>鼓浪屿：岛上的人民都很悠闲，开了许多浪漫格调的小店。岛上的钢琴博物馆特别美，教堂和别墅都不错。里面的巷子很深，富有古典的气息，有一种浪漫的氛围。海鲜很便宜，最好避开节假日前往。孤悬于厦门西海中的鼓浪屿,只有区区1.87平方公里，却几乎能找到你想要的一切美好事物。

　宛如袅娜的大家闺秀，鼓浪屿散发着高贵典雅、优美浪漫、生动多情的迷人气质。

　无论你对植物、建筑感兴趣，还是狂迷音乐、文学，甚至仅仅是爱美爱生活，来鼓浪屿呆一会儿。</p>
					
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	
	<!--start-how-->
	<div class="how">
		<div class="container">
			<div class="how-bottom">
			
			<div class="col-md-6 how-right">
					<div class="how-top heading">
						<p>“一朵小云”说</p> ： <h3>厦门有个园博园，推荐你去看看哦~~~~~~</h3>
					</div>
					<p>厦门园博园坐落在厦门集美区杏林镇,这里有4座生态景观岛,他们是特色的风光岛,每年都吸引了成千上万的游客;这里的史实园林更深引人眼球,向我展示了中国博大精深的园林艺术,可以说游客在这里就能领略水上大观园的无穷魅力.厦门园博园之所以如此吸引游客,正是因为它保存了原生态的植物景观。票价的话，学生20　　晚上加10元　　　游客60　晚上或节假日加10－20　！都是那些人说得算！但是路　　你不要紧张哦！呵呵买票就给你地图了！非常非常好走啦！白天不好玩  没有灯光！夜景比较好看！ 推荐看看建筑物！嘻嘻 拍拍照片是可以啦!  吃得问题出来有饭店贵了些！建议出来打的到杏林或者集美区去吃海鲜什么的很实惠！呵呵 来厦门就上岛吧去鼓浪屿看看！但是需要坐游艇去 15一个人！回来不需要买票，有大客游艇就上 一直到晚上10.40停！然后可以去南普陀看看！什么时候都很热闹！但是注意不要被别人的硬币闸到头！因为里面好多人在那丢硬币许愿！</p>
					
				</div>
				<div class="col-md-6 how-left">
					<img src="/static/images/yuanboyuan.jpg" alt="" />
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-how-->
	
	<div class="why" id="about">
		<div class="container">
			<div class="col-md-6 how-left">
				<img src="/static/images/xiada.jpg" alt="" />
			</div>
			<div class="why-bottom">
				<div class="why-top heading">
					<p>“我只是路过”说 ： </p><h3>厦门大学吧，《一起来看流星雨》的拍摄地呐！！！！！</h3>
				</div>
				<div class="col-md-6 why-left">
					
					<p>厦门大学背靠五老峰，与闽南古刹南普陀寺为邻，出了白城校门就是海滨浴场，每一个前来参观的游人都忍不住羡慕厦大学子。

厦大四季色彩斑斓，绿意盎然，冬天也有木棉和圣诞红在盛放。红墙绿瓦的特色建筑，碧波荡漾的湖水，轻拂水面的绿柳，眼前一张张充满朝气的笑脸，心情自然轻松愉快。

上弦场和建南大礼堂是厦大的标志性建筑。校内楼房的命名也颇有讲究，凌云、凌峰、映雪、囊萤、群贤、芙蓉，单单看这些名字就让人遐想无限。校园里依然保留了许多石板铺就的小径，两旁是各色花树。如果说厦门是全国最适合居住的城市之一，而厦大就是厦门最让人舒服的一块净土。
</p>
					
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	
	<!--start-how-->
	<div class="how">
		<div class="container">
			<div class="how-bottom">
			
			<div class="col-md-6 how-right">
					<div class="how-top heading">
						<p>“超级奥特曼”说 ：</p><h3>去厦门一定要吃土笋冻</h3>
					</div>
					<p>土笋冻是一种由海产加工而成的冻品。土笋学名叫做“星虫”，是一种环节动物；它经过熬煮，所含胶质溶入水中，冷却后即凝结成冻。晶润的土笋冻，配上酱油、香醋、甜酱、辣椒酱、芥辣、蒜蓉、海蜇等；还可有芫荽、白萝卜丝、辣椒丝、番茄片，则成色香味俱佳，现在已成为厦门最特色的小吃之一。
“西门土笋冻”是厦门最出名最正宗的出售土笋冻的餐馆，来到厦门一定要去尝试。除此之外，街头巷尾各类厦门小吃的门店也都能找到这道特色小吃的身影。</p>
					
				</div>
				<div class="col-md-6 how-left">
					<img src="/static/images/haochide.jpg" alt="" />
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-how-->
	
	
		
	<!--start-contact-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h3 style="text-align:left">我要回答</h3>
			</div>
			<div class="contact-bottom">
				<input style="float:left" type="text" value="回答" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '回答';}" />
				
				<hr/>
				<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '问题描述';}">我的描述</textarea>
				<div class="submit-btn">
					<form>
						<input type="submit" value="提交">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--end-contact-->

	
	
	
	<!--start-footer-->
	<div class="footer">
		<div class="container">
		<div class="touch-top heading">
				<h3>旅度</h3>
			</div>
			<div class="touch-bottom">
				<p>世界那么大，我想去看看</p>
			</div>
			
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
</body>
</html>