<html>
<body background="/static/img/main_bg1.jpg">


<head>
<link rel="stylesheet" href="/n.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/n.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<title>我要当导游</title>
  <style>
    h1 {
      color: #333333;
      font-size: 48px;
      text-shadow: 3px 3px 3px #666666;
    }
  </style>

  
<head>
<style type="text/css">
div#container{width:800px}
div#header {background-color:#99bbbb;}
div#content {background-color:#FFFFCC;height:119px;width:800px;float:left;}
div#footer {background-color:#99bbbb;clear:both;text-align:center;}
h1 {margin-bottom:0;}
h2 {margin-bottom:0;font-size:200px;}
ul {margin:0;}

</style>
</head>


<body>

<div id="container">
<div id="title">
<div class="jumbotron">
  <div class="container-fluid">
  <font face="华文行楷"><font color="white"><font size="100px"><center>
  <!--<img src="C:\Users\Administrator\Desktop\tupian\logo6.png"  width="50" height="50"/>-->旅度   ---- 我要当导游</center></font></font></font>
  </div>
</div>
<div id="header">
<h1><center>游客信息</center></h1>
</div>

<div id="content"><h3>  王小明 20岁   青岛 3天  想吃有地方特色的小吃   招募性格开朗的当地导游</h3>
    <button type="button" class="btn btn-default" ><a href="http://127.0.0.1:8000/sina/shenqingdaoyouziliao">申请</a><tton></div></div>
<div id="content"><h3>  韩梅梅 35岁   西双版纳 10天  想参加一些淳朴的当地活动   招募对路线熟悉的导游</h3>
      <button type="button" class="btn btn-default"><a href="http://127.0.0.1:8000/sina/shenqingdaoyouziliao">申请</a><tton></div>
<div id="content"><h3>  李磊 40岁   内蒙古 1天  想看赛马  招募负责能干的当地导游</h3>
      <button type="button" class="btn btn-default"><a href="http://127.0.0.1:8000/sina/shenqingdaoyouziliao">申请</a><tton></div>  
  
<div id="footer">...</div>

</div>

</body>
<ml>