<!DOCTYPE html>
<html>
<head>
<title>Typo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Paix Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/js/jquery.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--start-header-->
	<div class="header" id="home">
		<div class="container">
			<div class="head">
			<div class="logo">
				<a href="index.html"><img src="/static/images/logo3.png" style="height:80px"alt="" /></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="http://127.0.0.1:8000/sina/index"  class="hvr-bounce-to-bottom">首页</a></li>
						<li><a href="http://127.0.0.1:8000/sina/gonglv" class="hvr-bounce-to-bottom">热门攻略</a></li>
						<li><a href="http://127.0.0.1:8000/sina/findguider" class="hvr-bounce-to-bottom">我要找导游</a></li>
						<li><a href="http://127.0.0.1:8000/sina/doguider" class="active hvr-bounce-to-bottom">我要当导游</a></li>
						<li><a href="http://127.0.0.1:8000/sina/question" class="hvr-bounce-to-bottom">我要提问</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!--script-for-menu-->
	<br/>
	<!--start-test-->
	<div class="test" id="testimonials">
		<div class="container">
			<div class="test-top">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="test-one">
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-1.png" alt="" />
										<p>年龄：20岁 目标旅游地：青岛 时间：3天 想吃有地方特色的小吃 招募性格开朗的当地导游 </p><br>联系方式：QQ99999988</br>
										<h4>王小明</h4>
									</div>
									</a>
									
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-2.png" alt="" />
										<p>年龄：40岁 目标旅游地：西藏 时间：5天 想看赛马 招募有责任心的导游 </p><br>联系方式：13700001111</br>
										<h4>李磊</h4>
									</div>
									</a>
									
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-3.png" alt="" />
										<p>年龄：28岁 目标旅游地：大理 时间：10天 想参加一些当地的民俗活动 </p><br>联系方式：0791-859999999</br>
										<h4>韩梅梅</h4>
									</div>
									</a>
									
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="test-one">
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-2.png" alt="" />
										<p>年龄：28岁 目标旅游地：大理 时间：10天 想参加一些当地的民俗活动 </p><br>联系方式：0791-859999999</br>
										<h4>韩梅梅</h4>
									</div>
									</a>
									
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-3.png" alt="" />
										<p>年龄：20岁 目标旅游地：青岛 时间：3天 想吃有地方特色的小吃 招募性格开朗的当地导游 </p><br>联系方式：QQ99999988</br>
										<h4>Eva Adamson</h4>
									</div>
									</a>
									
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-1.png" alt="" />
										<p>年龄：40岁 目标旅游地：西藏 时间：5天 想看赛马 招募有责任心的导游 </p><br>联系方式：13700001111</br>
										<h4>王小明</h4>
									</div>
									</a>
									
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="test-one">
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-3.png" alt="" />
										<p>年龄：20岁 目标旅游地：青岛 时间：3天 想吃有地方特色的小吃 招募性格开朗的当地导游 </p><br>联系方式：QQ99999988</br>
										<h4>张晓红</h4>
									</div>
									</a>
									
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-1.png" alt="" />
										<p>年龄：20岁 目标旅游地：青岛 时间：3天 想吃有地方特色的小吃 招募性格开朗的当地导游</p><br>联系方式：QQ99999988</br>
										<h4>王小明</h4>
									</div>
									</a>
									<a href="#">
									<div class="col-md-4 test-left">
										<img src="/static/images/test-2.png" alt="" />
										<p>年龄：28岁 目标旅游地：大理 时间：10天 想参加一些当地的民俗活动 </p><br>联系方式：0791-859999999</br>
										<h4>Lora Smith</h4>
									</div>
									</a>
									
									<div class="clearfix"></div>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!--end-test-->
	<!--FlexSlider-->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
		});
		</script>
	</div>
			<!--End-slider-script-->
	
	
	<!--start-footer-->
	<div class="footer">
		<div class="container">
		<div class="touch-top heading">
				<h3>旅度</h3>
			</div>
			<div class="touch-bottom">
				<p>世界那么大，我想去看看</p>
			</div>
			
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
</body>
</html>