<!DOCTYPE html>
<html>
<head>
<title>热门攻略</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Paix Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/js/jquery.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--start-header-->
	<div class="header" id="home">
		<div class="container">
			<div class="head">
			<div class="logo">
				<a href="index.html"><img src="/static/images/logo3.png" style="height:80px"alt="" /></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="http://127.0.0.1:8000/sina/index"  class="hvr-bounce-to-bottom">首页</a></li>
						<li><a href="http://127.0.0.1:8000/sina/gonglv" class="active hvr-bounce-to-bottom">热门攻略</a></li>
						<li><a href="http://127.0.0.1:8000/sina/findguider" class="hvr-bounce-to-bottom">我要找导游</a></li>
						<li><a href="http://127.0.0.1:8000/sina/doguider" class="hvr-bounce-to-bottom">我要当导游</a></li>
						<li><a href="http://127.0.0.1:8000/sina/question" class="hvr-bounce-to-bottom">我要提问</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!--script-for-menu-->
	
	<!--start-services-->
	<div class="services">
		<div class="container">
			<div class="services-top heading">
				<h3>各地热门旅游攻略</h3>
			</div>
			<div class="services-bottom">
				<div class="col-md-6 services-left">
					<div class="services-one">
						<a href="http://127.0.0.1:8000/sina/gonglvcontent">
						<img src="/static/images/s-1.jpg" alt="" />
						<h4>Sed eu interdum nibh</h4>
						<p>Maecenas metus purus, lacinia auctor dignissim in, dapibus vitae elit. Sed facilisis interdum est, a vulputate risus dictum ut. In ex erat, placerat eget nunc vitae, accumsan euismod sem. Duis scelerisque a dui a mattis.</p>
						</a>
					</div>
					<div class="services-one">
						<a href="#">
						<img src="/static/images/s-2.jpg" alt="" />
						<h4>Sed eu interdum nibh</h4>
						<p>Maecenas metus purus, lacinia auctor dignissim in, dapibus vitae elit. Sed facilisis interdum est, a vulputate risus dictum ut. In ex erat, placerat eget nunc vitae, accumsan euismod sem. Duis scelerisque a dui a mattis.</p>
						</a>
					</div>
				</div>
				<div class="col-md-6 services-left">
					<div class="services-one">
						<a href="#">
						<img src="/static/images/s-3.jpg" alt="" />
						<h4>Sed eu interdum nibh</h4>
						<p>Maecenas metus purus, lacinia auctor dignissim in, dapibus vitae elit. Sed facilisis interdum est, a vulputate risus dictum ut. In ex erat, placerat eget nunc vitae, accumsan euismod sem. Duis scelerisque a dui a mattis.</p>
						</a>
					</div>
					<div class="services-one">
						<a href="#">
						<img src="/static/images/s-4.jpg" alt="" />
						<h4>Sed eu interdum nibh</h4>
						<p>Maecenas metus purus, lacinia auctor dignissim in, dapibus vitae elit. Sed facilisis interdum est, a vulputate risus dictum ut. In ex erat, placerat eget nunc vitae, accumsan euismod sem. Duis scelerisque a dui a mattis.</p>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>				
			</div>			
		</div>
	</div>
	<!--end-services-->
	
	<div align="center">
	<nav >
					  <ul  class="pagination pagination-lg">
						<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
					  </ul>
					  </nav>
	</div>
					  
	
					
	<!--start-contact-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h3 style="text-align:left">分享我的旅游体验</h3>
			</div>
			<div class="contact-bottom">
				<input style="float:left" type="text" value="标题" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '标题';}" />
				
				<hr/>
				<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '内容';}">内容</textarea>
				<div class="submit-btn">
					<form>
						<input type="submit" value="分享攻略">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--end-contact-->
	
	
	<!--start-footer-->
	<div class="footer">
		<div class="container">
		<div class="touch-top heading">
				<h3>旅度</h3>
			</div>
			<div class="touch-bottom">
				<p>世界那么大，我想去看看</p>
			</div>
			
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
	
	
	
	
</body>
</html>