<head>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<title>IndexForParents</title>
</head>

<h1 align="center">Hello World</p></h1>
<h3 align="center" style="font-family:Microsoft JhengHei color:#8A2BE2">新生家长豪华版</h3>
<body>
<!--
{{ usr }}
{{ pwd }}

<form action = './' method = 'post'>
	{% csrf_token %}
	
	<label>Username</label>
	<input name='username'/>
	<br/>
	<label>Password</label>
	<input name='password' type='password'/>
	
	<button class="btn btn-primary">Login</button>
	<br/>
	-->

	<p align="center"><img src="http://picm.bbzhi.com/qichebizhi/qicheheji/qicheheji_97504_m.jpg"></p>
	<br/>
	<p align="center"><input type="button" value="谷歌地图" class="btn btn-success btn-lg" onclick="window.open('http://www.google.cn/maps/')">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" value="中珠地图" class="btn btn-success btn-lg" onclick="window.open('zzmap')"></p>
	<br/>

	<div class="mod" style="float:right">
		<div class="jiathis_style_32x32">
		<a class="jiathis_button_qzone"></a>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_tqq"></a>
		<a class="jiathis_button_renren"></a>
		<a class="jiathis_button_kaixin001"></a>
		<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
		<a class="jiathis_counter_style"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1348112174875283" charset="utf-8"></script>
	</div>
</body>
