<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Paix Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/js/jquery.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--start-header-->
	<div class="header" id="home">
		<div class="container">
			<div class="head">
			<div class="logo">
				<a href="index.html"><img src="/static/images/logo3.png" style="height:80px"alt="" /></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="http://127.0.0.1:8000/sina/index"  class="hvr-bounce-to-bottom">首页</a></li>
						<li><a href="http://127.0.0.1:8000/sina/gonglv" class="hvr-bounce-to-bottom">热门攻略</a></li>
						<li><a href="http://127.0.0.1:8000/sina/findguider" class="hvr-bounce-to-bottom">我要找导游</a></li>
						<li><a href="http://127.0.0.1:8000/sina/doguider" class="hvr-bounce-to-bottom">我要当导游</a></li>
						<li><a href="http://127.0.0.1:8000/sina/question" class="active hvr-bounce-to-bottom">我要提问</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!--script-for-menu-->
	
	<br/>
	<div class="why-top heading">
				<h3>热门问题</h3>
	</div>
			
	<div class="why" id="about">
		<div class="container">
			<div class="col-md-6 how-left">
				<img src="/static/images/h-1.jpg" alt="" />
			</div>
			<div class="why-bottom">
				<div class="why-top heading">
					<h3>厦门哪些地方比较好玩</h3>
				</div>
				<div class="col-md-6 why-left">
					
					<p>过几天要和同学去厦门，想了解下厦门哪些地方比较值得去，还有有什么推荐的路线？</p>
					<div class="w-btn">
						<a href="#">进入</a>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	
	<!--start-how-->
	<div class="how">
		<div class="container">
			<div class="how-bottom">
			
			<div class="col-md-6 how-right">
					<div class="how-top heading">
						<h3>厦门哪些地方比较好玩</h3>
					</div>
					<p>过几天要和同学去厦门，想了解下厦门哪些地方比较值得去，还有有什么推荐的路线？</p>
					<div class="h-btn">
						<a href="#">进入</a>
					</div>
				</div>
				<div class="col-md-6 how-left">
					<img src="/static/images/h-1.jpg" alt="" />
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-how-->
	
	<div class="why" id="about">
		<div class="container">
			<div class="col-md-6 how-left">
				<img src="/static/images/h-1.jpg" alt="" />
			</div>
			<div class="why-bottom">
				<div class="why-top heading">
					<h3>厦门哪些地方比较好玩</h3>
				</div>
				<div class="col-md-6 why-left">
					
					<p>过几天要和同学去厦门，想了解下厦门哪些地方比较值得去，还有有什么推荐的路线？</p>
					<div class="w-btn">
						<a href="#">进入</a>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	
	<!--start-how-->
	<div class="how">
		<div class="container">
			<div class="how-bottom">
			
			<div class="col-md-6 how-right">
					<div class="how-top heading">
						<h3>厦门哪些地方比较好玩</h3>
					</div>
					<p>过几天要和同学去厦门，想了解下厦门哪些地方比较值得去，还有有什么推荐的路线？</p>
					<div class="h-btn">
						<a href="#">进入</a>
					</div>
				</div>
				<div class="col-md-6 how-left">
					<img src="/static/images/h-1.jpg" alt="" />
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-how-->
	
	
	
	<!--start-contact-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h3 style="text-align:left">我要提问</h3>
			</div>
			<div class="contact-bottom">
				<input style="float:left" type="text" value="问题" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '问题';}" />
				
				<hr/>
				<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '问题描述';}">问题描述</textarea>
				<div class="submit-btn">
					<form>
						<input type="submit" value="提交">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--end-contact-->
	
	
	
	<!--start-footer-->
	<div class="footer">
		<div class="container">
		<div class="touch-top heading">
				<h3>旅度</h3>
			</div>
			<div class="touch-bottom">
				<p>世界那么大，我想去看看</p>
			</div>
			
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
</body>
</html>