<head>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

 <title>我要当导游</title>
 <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">--> 
 <body> 
 <div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1"> 
 <img src="/static/img/wallpaper-2587944.jpg" height="100%" width="100%"/> 
 </div> 
 </body> 


 <style>
   h1 
   {
    color: #33333;
    font-size: 48px;
    text-shadow: 3px 3px 3px #666666;
   }
 </style>
</head>
<body>
  <h1><font color="# #8600FF"><style>.alsp{ font-family:"冬青简黑";}</style></head><body><div class="alsp"><p>旅度 ~~~~ 我要当导游<p></h1>  
  <table width="300" border="10"> 
  <tr> 
  <br/>
</body>


<link type="image/x-icon" href="images/favicon.ico" mce_href="images/favicon.ico" rel="icon"> 
<link type="image/x-icon" href="images/favicon.ico" mce_href="images/favicon.ico" rel="shortcut icon">

<span class="label label-default">姓名</span>
<span class="label label-primary">年龄</span>
<span class="label label-success">地址</span>
<span class="label label-success">联系方式</span>
<span class="label label-danger">可以接受的工资</span>

<br/>
<br/>

<!-- 16:9 aspect ratio -->
<!--<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div>-->


<textarea name="content" rows="15" cols="80" onpropertychange="if(this.scrollHeight>80) this.style.posHeight=this.scrollHeight+5">
姓名：
年龄：
地址：
联系方式：
可以接受的工资：
</textarea>
</br>

<div class="btn-group" role="group" aria-label="...">
  <!--<button type="button" class="btn btn-default">编辑</button>
  <button type="submit" class="btn btn-default">重置</button>-->
  
  <form name="form1" method="post" action="http://www.divcss5.com"> 
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
  <input type="button" name="Button" value="提交" onClick="submit()"> 
  

  </form>
</div>

  





