<head>
<link rel="stylesheet" href="/n.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/n.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

 <title>我要请导游</title>
 <!--<meta http-equiv="Content-Type" content="textml; charset=UTF-8">--> 
 <body> 
 <div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1"> 
 <img src="/static/img/wallpaper-663749.jpg" height="100%" width="100%"/> 
 </div> 
 </body> 


 <style>
   h1 
   {
    color: #33333;
    font-size: 48px;
    text-shadow: 3px 3px 3px #666666;
   }
 </style>
</head>
<body>
  <h1><font color="# #8600FF"><style>.alsp{ font-family:"冬青简黑";}</style></head><body><div class="alsp"><p>旅度 ~~~~ 我要请导游<p></h1>  
  <table width="300" border="10"> 
  <tr> 
  <br/>
</body>


<link type="image/x-icon" href="images/favicon.ico" mce_href="images/favicon.ico" rel="icon"> 
<link type="image/x-icon" href="images/favicon.ico" mce_href="images/favicon.ico" rel="shortcut icon">

<span class="label label-default">姓名</span>
<span class="label label-primary">年龄</span>
<span class="label label-success">联系方式</span>
<span class="label label-info">想去的地点</span>
<span class="label label-warning">希望交到什么样的朋友</span>
<span class="label label-danger">预算</span>

<br/>
<br/>

<!-- 16:9 aspect ratio -->
<!--<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div>-->


<textarea name="content" rows="15" cols="80" onpropertychange="if(this.scrollHeight>80) this.style.posHeight=this.scrollHeight+5">
姓名：<input type="text" name="name" />
年龄：<input type="text" name="age" />
联系方式：<input type="text" name="TEL" />
想去的地点：<input type="text" name="address" />
希望交到什么样的朋友：<input type="text" name="wantfriend" />
预算：<input type="text" name="money" />
</textarea>
<input type="submit" value="Submit" />
</br>

<!-- <form action="form_action.asp" method="get"> -->
<!-- <div class="btn-group" role="group" aria-label="...">
  <!--<button type="button" class="btn btn-default">编辑<tton>
  <button type="submit" class="btn btn-default">重置<tton>-->
  
 <!--  <form name="form1" method="post" action="form_action.asp"> 
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
  <input type="button" name="Button" value="提交" onClick="submit()" /> 
  

  </form>
</div>
 --> 